<ion-view title="Add New Product" id="page99">
<ion-nav-buttons side="right" class="has-header">

<button class="button button-icon icon ion-android-cart" ui-sref="rentoid.cart"></button>
<button class="button button-icon icon ion-android-search" ui-sref="rentoid.search"></button>

</ion-nav-buttons>
<ion-content scroll="false">

         <div class="notification" ng-show="notification!==NULL" >
            <p> {{notification}} </p>

          </div>
</ion-content>
<ion-content class="has-header">

<div class="bar" ng-show="image===null">
<button class="button button-positive icon-left ion-camera " ng-click="loadImage()"  >
      
      </button>

</div>
<div class="img-container">
 <img ng-src="{{pathForImage(image)}}" style="width: 100%; height: 100%;">
 </div>
<div class="list list-inset">
      
    <label class="item item-input ">
      <input type="text" placeholder="nama Product" ng-model="formdata.nama" ng-disabled="!formstatus">
    </label>
    <label class="item item-input ">
      <input type="text" placeholder="harga" ng-model="formdata.harga" ng-disabled="!formstatus">
    </label> 
    <label class="item item-input ">
      <textarea placeholder="keterangan" rows="5" ng-model="formdata.keterangan" ng-disabled="!formstatus"></textarea>
    </label>
    
    <div class="input-label full">
      
       
    </div>
</div>
</ion-content>
  <ion-footer-bar class="bar ">
      <div class="button-bar">
        <button class="button button-balanced " ng-click="insert_product()" ng-show="formstatus">Cancel</button>
        <button class="button button-positive icon-left ion-upload" ng-click="uploadImage()"  ng-show="formstatus">Save</button>
        <button class="button button-balanced icon-left ion-arrow-left-c" ui-sref="rentoid.mytoko" ng-show="!formstatus">
        back
      </button>
      </div>
    </ion-footer-bar>

</ion-view>