<ion-view view-title="Daftar Sewa Kamu">
	 
  <ion-nav-buttons side="right">
   
    <button class="button button-icon icon ion-android-cart" ui-sref="rentoid.cart"></button>
    <button class="button button-icon icon ion-android-search" ui-sref="rentoid.search"></button>
  </ion-nav-buttons>
  	<ion-content  class="has-header">
  	

  	<div class="list book-list" ng-repeat="booking in list_booking">
		
	    <a class="item row book-item" ui-sref="rentoid.booking_detail()">
	     	<div class="col"> <h2>SEWA NO {{booking.book_id}}</h2>
     					     <p> {{booking.book_date}}</p></div>
	     	<div class="col"> </div>
	     	<div class="col right"> <h2> {{booking.total |currency:"Rp. ":0}} </h2></div>

	    </a>
	   	 
	    
	</div>
	</ion-content>

</ion-view>