<ion-view title="Keranjang Sewa" id="page2">
<ion-nav-buttons side="right" class="has-header">
   
    
    <button class="button button-icon icon ion-android-search" ui-sref="rentoid.search"></button>
  </ion-nav-buttons>
    <ion-content scroll="false">

         <div class="notification" ng-show="notification!==NULL" >
            <p> {{notification}} </p>

          </div>
</ion-content>
<ion-content  class="has-header">
		<div class="list" ng-repeat="tok in toko" ng-if="tok.store_id==store_id">
	<span>rental <b>{{tok.store_name}} </b></span>
	
	   <div class="item item-thumbnail-left booking-list" ng-repeat="produk in cart_product" ng-if="tok.store_id==produk.store_id">

		      <img src="{{apiURL}}/{{produk.image}}">
		      <div class="pull-right">
		       		<a class="button button-icon icon ion-close cst-button" ng-click="removeproduct({{produk.product_id}})"></a>
		       		</div>
		       <div class="pull-right">
		     	<label > Qty </label>
		      <input class="input-qty" type="number" ng-model="produk.qty"> x @{{produk.price | currency:"Rp. ":0}}
		    	<span > =  <b>{{ produk.price*produk.qty | currency:"Rp ":0}}</b></span>
		 
		 

		      </div>
		      <h2>{{produk.name}} </h2>
		      <p>@{{produk.price | currency:"Rp ":0}}</p>

		      <div class="list">
			      <label class="item item-input cart-note">
			    <textarea placeholder="Note" ng-model="produk.note"></textarea>
			  </label>

			  </div>
	   
		
	 </div>
	  <div class="item">
		 <div class="pull-right">
		 Harga Total <b>{{getTotalPrice(tok.store_id) | currency:"Rp ":0}}</b>
		 </div>
	</div>
	<label class="item item-input">
		  <span class="input-label">Start Date</span>
		  <input type="date" ng-model="form.tgl_start">
	</label>
	<label class="item item-input">
		  <span class="input-label">End Date</span>
		  <input displayFormat="MM/DD/YYYY" type="date" ng-model="form.tgl_end">
	</label>
	<label class="item item-input">
		  <span class="input-label">No Contact</span>
		  <input type="tel" ng-model="form.telp">
	</label>
	
	 <div class="row">
	
		<div class="col">
			<button class="button button-block button-balanced" ng-click="checkout()"><i class="icon ion-bag" > </i> proses</button>
		</div>
	</div>
 </div>
</ion-content>
</ion-view>
