<ion-view title="REGISTER" id="page11">

<ion-content class="has-header">
<div class="row center" ng-show="picData==null">
                    <div  class="col col-25 center" >
                        <image class="full-image" src="img/Tambah foto.png"  ng-click="takePic()">

                        </image>
                     </div>   
                </div> 
<div class="list list-inset">
  <label class="item item-input ">
    <input type="text" placeholder="nama toko">
  </label>
  <label class="item item-input ">
    <input type="text" placeholder="Alamat">
  </label>
<label class="item item-input ">
    <input type="text" placeholder="lokasi">
  </label>
   <label class="item item-input ">
    <input type="text" placeholder="nomer HP">
  </label>
		 
  <div class="input-label full">
  <button class="button button-block button-positive">
  edit profil toko
 </button>
</ion-content>
</ion-view>