
<ion-view view-title="Ini feed">
	 
  <ion-nav-buttons side="right" class="has-header">
   
    <button class="button button-icon icon ion-android-cart" ui-sref="rentoid.cart"></button>
    <button class="button button-icon icon ion-android-search" ui-sref="rentoid.search"></button>
  </ion-nav-buttons>
  	

  <ion-content>
  	<ion-list>
  <ion-item>
    <ion-avatar item-left>
      <img src="img/avatar-cher.png">
    </ion-avatar>
    <h2>Cher</h2>
    <p>Ugh. As if.</p>
  </ion-item>
</ion-list>
	</ion-content>

</ion-view>