<ion-view view-title="Ini Home">
	 
  <ion-nav-buttons side="right">
   
    <button class="button button-icon icon ion-android-cart" ui-sref="rentoid.cart"></button>
    <button class="button button-icon icon ion-android-search" ui-sref="rentoid.search"></button>
  </ion-nav-buttons>
  	<ion-content  class="has-header">
  	<ion-list ng-repeat="category in categories">
    <ion-item>
  		<a class="item item-thumbnail-left" ui-sref="rentoid.List_produk">

			 <img src="img/mobil icon.jpg"> 
      
      <h2> {{category.nama}} </h2>
      
		  </a>
      </ion-item>
		</ion-list>
	</ion-content>

</ion-view>