



<ion-tabs class ="tabs-top">
  <ion-tab title="home" ui-sref="rentoid.home.homeapp">
    <ion-nav-view name="homeview">

    </ion-nav-view>
  </ion-tab>
  <ion-tab title="feed" ui-sref="rentoid.home.feedapp">
<ion-nav-view name ="feedview">

    </ion-nav-view>
  </ion-tab>
  <ion-tab title="favorit" ui-sref="rentoid.home.favapp">
<ion-nav-view name ="favview">

    </ion-nav-view>
  </ion-tab>

</ion-tabs>
