
<ion-view title="List Jasa" id="page9">
<ion-nav-buttons side="right" class="has-header">
   
    <button class="button button-icon icon ion-android-cart" ui-sref="rentoid.cart"></button>
    <button class="button button-icon icon ion-android-search" ui-sref="rentoid.search"></button>
  </ion-nav-buttons>
<ion-content class="has-header">

<div class="list"
<div class="item" ng-repeat="produk in products">
    <a class="item item-thumbnail-left" ui-sref="rentoid.produk_detail({id: {{produk.product_id}} })">
      <img src="{{apiURL}}/{{produk.image}}">
      <h2>{{produk.nama}}</h2>
      <p>Rp. {{produk.harga}}</p>
      <p>{{produk.deskripsi}}</p>
    </a>
    <div class="item">
    	<h4>Nama Toko</h4>
      <p>Lokasi</p>
    </div>
    </div>
</div>
</ion-content>
</ion-view>