<ion-view title="login" id="page7">

<ion-content scroll="false">

         <div class="notification" ng-show="notification!==NULL" >
            <p> {{notification}} </p>

          </div>
</ion-content>
<ion-content class="has-header">
 <form class="list list-inset" ng-submit="login()">
  <label class="item item-input">
    <input type="text" placeholder="Email" ng-model="formdata.email">
  </label>
  <label class="item item-input">
    <input type="password" placeholder="Password" ng-model="formdata.password">
  </label>

  <button type="submit" class="button button-block button-positive" >
  login
</button>

</form>
 
<!--  <ion-list>

  <ion-item>
    <ion-label stacked>Username</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Password</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

</ion-list> -->
</ion-content>

<div class="bar bar-footer bar-stable">
  <p class="center-text">Belum punya akun? daftar <a href="#" ui-sref="rentoid.register"> disini </a></p>
</div>
</ion-view>