<ion-view title="Toko ku" id="page99">
 <ion-nav-buttons side="right" class="has-header">
   
    <button class="button button-icon icon ion-android-cart" ui-sref="rentoid.cart"></button>
    <button class="button button-icon icon ion-android-search" ui-sref="rentoid.search"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="card">

  <div class="item item-avatar tokoku">
    <img src="img/mobil icon.jpg"> 
    <h2>Toko {{namatoko}}</h2>
    <p>Alamat : <i class="ion-location" ></i> {{alamattoko}} </p>
    <p>Telp : <i class="ion-android-call"></i> 08565556778</p>
    <p> Rating rata-rata : <i class="ion-star" ></i>
                            <i class="ion-star" ></i>
                            <i class="ion-star" ></i>
                            <i class="ion-star" ></i>
                            <i class="ion-ios-star-outline" ></i> (200 )</p>
  </div>
  
    <div class=" list">

  <div class="item item-divider">
   <h2 class="title daftar-product"> <u><b>Daftar Product </b></u> <button class="button button-positive button-add icon-left ion-plus-circled" ui-sref="rentoid.addproduct" >add</button></h2>
   
  </div>
   <div class="card list-product" ng-repeat="product in products" >
      <a class=" item item-avatar product-item"  ui-sref="rentoid.produk_detail({id:{{product.product_id}} })">
         <img src='{{apiURL}}/{{product.image}}' >  
         <h2> {{product.nama}}</h2>
        <p>   Rp. {{product.harga}} </p>
      </a>
     </div>
  
  
  

</div>


 </div>
</ion-content>
</ion-view>