<ion-view title="Detail Jasa" id="page10">
 <ion-nav-buttons side="right">
   
    <button class="button button-icon icon ion-android-cart" ui-sref="rentoid.cart"></button>
    <button class="button button-icon icon ion-android-search" ui-sref="rentoid.search"></button>
  </ion-nav-buttons>
  <ion-content scroll="false">

         <div class="notification" ng-show="notification!==NULL" >
            <p> {{notification}} </p>

          </div>
</ion-content>
  <ion-content class="has-header">

<div class="list card">
<div class="center">
            <h5 class="Title center-text">{{products.nama}}</h5>
        </div>
  <div class="item item-body">
   <center>
        <img  src="{{apiURL}}/{{products.image}}" class="full-image img-detail" >
   </center>
    <h2>Deskripsi</h2>
    <p>
      {{products.deskripsi}}
    </p>
    <h2>Harga : Rp. {{products.harga}}</h2>
    <p>
      <button class="button button-energized"><i class="icon ion-android-mail"> </i> Chat</button>
      <button class="button button-energized">Rating</button>
      <button class="button button-energized" ng-click="addtocart()" ng-show="store_id!=products.store_id"><i class="icon ion-android-cart"> </i> Add to Cart</button>
    </p>
  </div>
   <div class="item item-avatar">
    <img src="img/rental_mobil.jpg">
    <h2>{{products.store_name}}</h2>
    <p>{{products.address}}</p>
  </div>

</div>



</ion-content>
</ion-view>