<ion-view title="Product" id="page4">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-cart"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="product-container4">
      <h3 id="product-heading1" style="color:#000000;text-align:justify;">Product </h3>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
    </div>
    <div id="product-container5" class="item-category">
      <div id="product-markdown6" class="show-list-numbers-and-dots text-desc">
        <p style="color:#000000;">Some friendly
          <strong>markdown</strong>
        </p>
      </div>
    </div>
    <h4 id="product-heading2" style="color:#000000;">Rp. 50.000/hari</h4>
    <button id="product-button1" class="button button-positive  button-block">Add To Cart</button>
  </ion-content>
</ion-view>