<ion-view title="REGISTER" id="page8">

<ion-content class="has-header">
<div class="notification" ng-show="notification!==NULL" >
<p> {{notification}} </p>
</div>
<form class="list list-inset" ng-submit="register()">
  <label class="item item-input padding top">
    <input type="text" placeholder="nama" ng-model="formdata.name">
  </label>
  <label class="item item-input padding top">
    <input type="text" placeholder="Email" ng-model="formdata.email">
  </label>
 <!--  <label class="item item-input padding">
     <input type="text" placeholder="Username">
   </label>
    -->  <label class="item item-input padding">
           <input type="password" placeholder="Password" ng-model="formdata.password">
          </label>
<!-- <label class="item item-input padding">
     <input type="text" placeholder="alamat">
   </label>
    <label class="item item-input padding">
     <input type="text" placeholder="nomer HP">
   </label>
   --> 
<!-- 
   <div class="input-label full">
     Jenis Kelamin
    </div>
    <select class="full">
      <option>Perempuan</option>
      <option selected>Laki laki</option>    
    </select>

 -->
<button type="submit" class="button button-block button-positive" ng-disabled="buttonSubmit">
  daftar
</button>
</form>
</ion-content>

<div class="bar bar-footer bar-stable">
  <p class="center-text">Sudah Punya akun? <a href="#" ui-sref="rentoid.login" menu-close=""> Masuk </a></p>
</div>
</ion-view>