<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-energized">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-stable">
      <div class="title">Rentoid</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <ion-list id="rentoid-list1">
        <ion-item id="rentoid-list-item1" ui-sref="rentoid.homeapp" menu-close="">Home</ion-item>
        <ion-item id="rentoid-list-item2" ui-sref="rentoid.login" menu-close="" ng-show="login_status===false">Login</ion-item>
       <!--  <ion-item id="rentoid-list-item2" ui-sref="rentoid.daftar_toko" menu-close="" ng-show="login_status===true">buka toko</ion-item> -->
        <!-- <ion-item id="rentoid-list-item2" ui-sref="rentoid.List_produk" menu-close="">List jasa</ion-item> -->
       <!--  <ion-item id="rentoid-list-item2" ui-sref="rentoid.produk_detail" menu-close="" ng-show="login_status===true">produk detail</ion-item> -->
        <ion-item id="rentoid-list-item3" ui-sref="rentoid.editprofil_toko" menu-close="" ng-show="login_status===true">profil toko</ion-item>
        <ion-item id="rentoid-list-item4" ng-click="mytoko()" menu-close="" ng-show="login_status===true">Tokoku</ion-item>
        <ion-item id="rentoid-list-item5" ui-sref="rentoid.editprofil_user" menu-close=""  ng-show="login_status===true">profil user</ion-item>
        <ion-item id="rentoid-list-item6" ui-sref="rentoid.List_order" menu-close="" ng-show="login_status===true">customer Order</ion-item>
        
        <ion-item id="rentoid-list-item7" ui-sref="rentoid.booking" menu-close="" ng-show="login_status===true">Daftar Sewa</ion-item>
        <ion-item id="rentoid-list-item8"  menu-close="" ng-show="login_status===true" ng-click="logout()">Logout</ion-item>
        <!-- <ion-item id="rentoid-list-item3" ui-sref="rentoid.cloud" menu-close="">Cloud</ion-item> -->
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>