<ion-view title="Search Result" id="page6">
  <ion-content padding="true" class="has-header">

   <ion-list  class="item-list" ng-repeat="data in results track by data.id_produk">
     
      <ion-item class="item item-thumbnail-left" ui-sref="rentoid.produk({id_produk:'{{data.id_produk}}'})">
        <img src="{{imgURL}}/store/{{data.icon}}">
        <strong>Nama {{data.nama_produk}} </strong>
        <h4>Rp. {{data.harga}}</h4>
        <p>{{data.nama_store}}</p>

      </ion-item>

    </ion-list>
    <p>
      Add some
      <b>HTML</b> for
      <u>flavor</u>
    </p>
  </ion-content>
</ion-view>