<ion-view title="Search" id="page6">
<ion-content class="has-header">
<div class="" >
  <form id="home-form1"  >
    <div class="search-main item item-input-inset">
      <label class="item-input-wrapper">

        <input type="search" placeholder="Search">
      </label>
      <button class="button  ">
        <i class="icon ion-ios-search"></i>
      </button>
      <button class="button" ng-click="showDiv = !showDiv">
        <i class="icon ion-ios-settings"></i>
      </button>
    </div>

    <div ng-show="showDiv" clas="search-main">



      <label class="item item-input item-select">
        <div class="input-label">
        Lokasi
        </div>
        <select>
          <option selected>*</option>
          <option>Malang</option>
          <option>Pasuruan</option>
          <option>Surabaya</option>
        </select>
      </label>


    </div>

  </form>
</div>

</ion-content>
</ion-view>