$ionicons-font-path: "../lib/ionic/fonts" !default;
@import "../www/lib/ionic/scss";
.item-category {
	margin-top: 5px;
}

.item-description {
	padding-top: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.item-list {
	margin-top: 5px;
}

